<launch>
    <include file="$(env HOME)/workspace/ros_launch_files/ublox.launch">
        <arg name="node_name"       value="ublox_node"/>
        <arg name="param_file_name" value="$(env HOME)/workspace/ros_launch_files/ublox_car.yaml"/>
        <arg name="device"          value="/dev/ttyACM0"/>
    </include>
    <include file="$(env HOME)/workspace/ros_launch_files/urg.launch">
        <arg name="serial_port" value="/dev/ttyACM1"/>
        <arg name="angle_min"   value="-1.5708"/>
        <arg name="angle_max"   value="1.5708"/>
    </include>
    <include file="$(env HOME)/workspace/ros_launch_files/D415.launch">
        <arg name="camera"    value="D415_front"/>
        <arg name="serial_no" value="839512060455"/>
    </include>
    <include file="$(env HOME)/workspace/ros_launch_files/D415.launch">
        <arg name="camera"    value="D415_back"/>
        <arg name="serial_no" value="840412061584"/>
    </include>
    <include file="$(env HOME)/workspace/ros_launch_files/T265.launch">
        <arg name="camera"    value="T265"/>
        <arg name="serial_no"  value="909212110213"/>
    </include>
    <include file="$(env HOME)/workspace/ros_launch_files/zed.launch">
    </include>
    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"/>
</launch>