<launch>
    <group ns="T265">
        <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
            <arg name="serial_no" value="909212110337"/>
            <arg name="tf_prefix" value="T265"/>
            <arg name="initial_reset" value="true"/>
            
            <arg name="enable_fisheye1" value="false"/>
            <arg name="enable_fisheye2" value="false"/>
            
            <arg name="fisheye_fps" value="30"/>
            <arg name="fisheye_width" value="848"/>
            <arg name="fisheye_height" value="800"/>
            
            <arg name="enable_gyro" value="true"/>
            <arg name="gyro_fps" value="200"/>
            <arg name="enable_accel" value="true"/>
            <arg name="accel_fps" value="62"/>
            
            <arg name="enable_depth" value="false"/>
            <arg name="enable_infra1" value="false"/>
            <arg name="enable_infra2" value="false"/>
            <arg name="enable_color" value="false"/>
        </include>
    </group>
</launch>