<launch>
    <arg name="node_name" default="ublox"/>
    <arg name="param_file_name" default="ublox_car.yaml" doc="name of param file, e.g. rover"/>
    <arg name="output" default="screen"/>
    <arg name="clear_params" default="true"/>
    <arg name="device" default="/dev/ttyACM0"/>
    <node pkg="ublox_gps" type="ublox_gps" name="$(arg node_name)" output="screen"
          clear_params="$(arg clear_params)" respawn="true">
          <rosparam command="load" file="$(env HOME)/workspace/ros_launch_files/ublox_car.yaml"/>
          <param name="device" value="$(arg device)"/>
    </node>
</launch>