<launch>
    <!-- Camera Model -->
    <arg name="node_name"             default="zed_node" />

    <!-- Load SVO file -->
    <arg name="svo_file"              default="" /><!-- <arg name="svo_file" default="path/to/svo/file.svo"> -->
    <!-- Remote stream -->
    <arg name="stream"                default="" /> <!-- <arg name="stream" default="<ip_address>:<port>"> -->

    <!-- Publish ZED urdf -->
    <arg name="publish_urdf"          default="true" />

    <arg name="camera_id"             default="-1" />
    <arg name="gpu_id"                default="-1" />

    <group ns="zed">
        <!-- ROS URDF description of the ZED -->
        <group if="$(arg publish_urdf)">
            <param name="zed_description" textfile="$(find zed_wrapper)/urdf/zed.urdf" />
            <node name="zed_state_publisher" pkg="robot_state_publisher" type="state_publisher">
                <remap from="robot_description" to="zed_description" />
            </node>
        </group>

        <node name="zed_node" pkg="zed_wrapper" type="zed_wrapper_node" output="screen" required="true"><!-- launch-prefix="valgrind" -->
            <rosparam file="$(find zed_wrapper)/params/common.yaml" command="load" />
            <rosparam file="$(find zed_wrapper)/params/zed.yaml" command="load" />

            <!-- SVO file path -->
            <param name="svo_file"          value="" />

            <!-- Remote stream -->
            <param name="stream"            value="" />

            <!-- Publish ZED urdf -->
            <param name="tracking/publish_tf"        value="true" />
            <param name="odometry_frame"             value="zed_odom"/>
            <param name="world_frame"                value="zed_odom"/>
            <param name="tracking/publish_map_tf"    value="false" />
            <param name="general/resolution"         value="0"/>
            <param name="general/frame_rate"         value="15" />

            <!-- Camera ID -->
            <param name="general/zed_id"             value="-1" />

            <!-- GPU ID -->
            <param name="general/gpu_id"             value="1" />
        </node>
     </group>
</launch>